/*--- 2. Font Family ---*/

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
// Theme 
$current-theme: #FFFFFF;

/*--- Colors variable ---*/
$primary-clr: #1F2044;
$secondary-clr: #e5e5e5;
$tertiary-clr: #FFFFFF;
$desc-color: #7a7a7a;
$bg-clr: #f9f9fc;
$active-clr: #ffb400;